<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class:"form-control", rows:"5" %>
  </div>

  <div lass="field form-group">
    <%= form.label :diploma, style: "display: block" %>
    <%= form.text_field :diploma, class:"form-control" %>
  </div>

  <div lass="field form-group">
    <%= form.label :diploma_major, style: "display: block" %>
    <%= form.text_field :diploma_major, class:"form-control" %>
  </div>

  <div lass="field form-group">
    <%= form.label :skills, style: "display: block" %>
    <%= form.text_field :skills, class:"form-control" %>
  </div>

  <div lass="field form-group">
    <%= form.label :experience, style: "display: block" %>
    <%= form.text_field :experience, class:"form-control" %>
  </div>
  <div class="actions">
    <br/>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
