<div id="<%= dom_id job %>">

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Diploma:</strong>
    <%= job.diploma %>
  </p>

  <p>
    <strong>Diploma major:</strong>
    <%= job.diploma_major %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= job.skills %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= job.experience %>
  </p>

</div>
